<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<section id="footer">
  <div class="container">
    <div class="row text-center text-xs-center text-sm-left text-md-left">
      <div class="col-xs-12 col-sm-4 col-md-4">

        <h5>Quick links</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="#"><i class="fa fa-angle-double-right"></i>Home</a></li>
						<li><a href="#" [routerLink]="['/about']"><i class="fa fa-angle-double-right"></i>About</a></li>
						<li><a href="#" [routerLink]="['/contact']"><i class="fa fa-angle-double-right"></i>Contact Us</a></li>						<br><br>

					</ul>
        </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">

        <p class="h6">Design and developed by:<a class="text-green ml-2" href="#" target="_blank">Prince Solanki</a></p>
      </div>
      <hr>
    </div>
</div>
</section>
