<div class="container">

  <div class="row text-center text-xs-center text-sm-left text-md-left">
    <div class="jumbotron">

<header class="modal-header"><h1>About</h1></header>
<hr>
<!-- {{userData.value | json}} -->
<form #userData="ngForm">
<div class="form-group">
  <h3 class="text-sentancecase">Product Application</h3>
  <hr>
        <p>This whole project has only one concept, that to record all the information related to the Product such as product name, price, description and dates.
         <br> you can add a new product info with their id and name and can also update or delete that later.
         <br> The whole project has a simple looking UI design.</p>
         <br><br><br><br><br>
</div>
